body{
    font-family: 'Times New Roman', Times, serif;
    /* background: linear-gradient(135deg, #f69e5b, rgb(241, 232, 126) ); */
    background-color: black;
    color: #fff
}
h2{
    margin: 0;
}
.para{
    margin: 0;
    color: rebeccapurple;
}

#double-wrap{
    margin-top: 60px;
    margin: 0 18%;
    box-shadow: 1px 1px 20px #012290f7;
   
}
#personal-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.role{
    display: flex;justify-content: space-between;
}

.line{
margin: 0;
border: 1px solid #fff;
}
#profile-summary{
    margin: 10px 0;
}
ul{
    margin: 0;
    margin-bottom: 8px;
}
#wrapper{
    padding: 50px 10px;
}